<div class="container js-filter-content">
    <div class="row"
         data-masonry='{"percentPosition": true }'>
        {% for article in articles %}
            {% include 'partials/_card.html.twig' %}
        {% endfor %}
    </div>
</div>