{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}

        <div class="container">
            <div class="row m-4"
                 data-masonry='{"percentPosition": true }'>

                    {% include 'partials/_card.html.twig' %}

            </div>
        </div>

{% endblock %}
