{% extends 'base.html.twig' %}

{% block title %}Bureau Mine{% endblock %}

{% block main %}

    {% include('partials/_headerHome.html.twig') %}
    <div class="container">
        <div class="blocCat">
            <div class="blocCategory">
                <span id="filters" class="textFiltre">Filtres :
                    {% for category in categories %}
                        <a href="{{ path('app_category_detail', { 'id': category.id }) }}">{{ category.name }}</a>
                        {% if not loop.last %}|{% endif %}
                    {% endfor %}
                </span>
            </div>
        </div>

        <div class="container">
            <div class="row"
                 data-masonry='{"percentPosition": true }'>
                {% include 'home/article.html.twig' %}
            </div>
        </div>
    </div>


{% endblock %}
