{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}
    {% include('partials/_headerHome.html.twig') %}
    <div class="blocCat">
        <div class="blocCategory">
            <p><strong>Filtres :</strong></p>
            <p>Identité Visuelle</p>
            <div class="trait"></div>
            <p>Illustration</p>
            <div class="trait"></div>
            <p>Webdesign</p>
            <div class="trait"></div>
            <p>Typographie</p>
            <div class="trait"></div>
            <p>Motion Design</p>
        </div>
    </div>

    <div class="container w-100">
        <div class="row"
             data-masonry='{"percentPosition": true }'>
            {% for article in articles %}
                {% include 'partials/_card.html.twig' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
