<div class="col-sm-6 col-lg-4 mb-4 d-flex justify-content-center" style="position: absolute; left: 0; top: 0;">
    <div class="card w-75 bg-transparent border-0 rounded-0">
        <img src="{{ asset( 'build/images/' ~ article.image) }}" class="card-img-top p-4" src="..." alt="">
        <div class="card-body bg-light">
            <h5 class="card-title text-black">{{ article.title }}</h5>
            <p class="card-text"><small class="text-muted">Publié le 10/10/2022</small></p>
            <p class="card-text">{{ article.description }}</p>
            <a href="{{ path('app_home_details', { 'id': article.id }) }}" class="btn btn-dark">Détails</a>
        </div>
    </div>
</div>


