<div class="header">
    <h2>Bureau Mine</h2>
    <p>Le Haut conseil pour le climat est un organisme indépendant créé par le décret du 14 mai 2019 chargé d'émettre des avis et recommandations sur la mise en œuvre des politiques et mesures publiques pour réduire les émissions de gaz à effet de serre de la France.
 Le Haut Conseil pour le Climat a fait appel à nos services pour la création de leur identité visuelle, le webdesign de leur site internet, la création d'illustrations pour habiller leurs recommandations et la mise en page de leur rapport annuel.</p>
</div>

<div id="navbar">
    <a href="javascript:void(0)"><a href="{{ path('app_home') }}">Instagram</a></a>
    <a href="javascript:void(0)"><a href="{{ path('app_home') }}">Contact</a></a>
    <a href="javascript:void(0)"><a href="{{ path('app_home') }}">A propos</a></a>
</div>