<div id="navbarDetail">
    <img src="{{ asset('build/images/LOGO_BUREAU_MINE.png') }}" alt="" class="logo-header">
    <a href="javascript:void(0)"><a href="{{ path('app_contact') }}">Contact</a></a>
    <a href="javascript:void(0)"><a href="{{ path('app_info') }}">Info</a></a>
    <a href="javascript:void(0)"><a href="{{ path('app_home') }}">Projets</a></a>
</div>