.grid {
  display: grid;
  grid-gap: 2em;
  grid: masonry / repeat(auto-fit, minmax(20em, 1fr));
}

//.card-wrapper{
//  position: absolute;
//  left: 0;
//  top: 0
//}

.card-body {
  text-decoration: none;
}

.card-title {
  font-family: BemboBookMTStd-Bold, serif;
  font-size: 1.3em;
  font-weight: bolder;
  color: #091825;
  margin-top: 5px;
  margin-bottom: 0;
}

.categoryCard {
  margin-top: 0;
}

.titreCard{
  font-family: BemboBookMTStd-Bold, serif;
  font-size: 1.2em;
  text-decoration: none;
  color: #091824;
}

.linkCard {
  font-family: TwCenMTStd-Light, serif;
  font-size: 0.9em;
  text-decoration: none;
  color: #091824;
}