//INTRO PAGE ACCUEIL BLOC BLEU NUIT
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 94vh;
  max-height: 94vh;
  background-color: #091825;

  img {
    min-width: 100px;
    max-width: 100px;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 15vh;
  }

  .animate-text {
    visibility: hidden;
    color: white;
    font-size: 2vw;
    text-align: center;
    font-family: BemboBookMTStd-Bold, serif;
    line-height: 1.7em;
    letter-spacing: 1px;
  }

  .animate-text {
    width: 50%;
  }
}

//MENU DE NAVIGATION
#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 6vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 5%,
          rgba(255, 255, 255, 0.4990371148459384) 55%,
          rgba(255, 255, 255, 1) 100%);
  z-index: 100;

  .blocLogo {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-start;

    .logo-nav {
      display: flex;
      justify-content: center;
      align-items: center;

      .logo-header {
        min-width: 100px;
        max-width: 100px;
        height: auto;
        margin-left: 3vw;
      }
    }
  }


  .blocNav {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;

    .nav-links {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 3vw;

      a {
        position: relative;
        text-decoration: none;
        font-family: TwCenMTStd-Light, sans-serif;
        font-size: 15px;
        color: #091825;
        margin: 6px 16px;
        padding-bottom: 4px;
      }

      .real-link {
        background: linear-gradient(to top, rgba(0, 0, 0.5) 1%, rgba(0, 0, 0.5) 1px, transparent 1px) no-repeat;
        background-size: 0 100%;
        transition: background-size .3s;
      }

      a:hover {
        background-size: 100% 100%;
      }
    }
  }
}

#navbar a:hover {
  color: black;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#navDetail {
  width: 100vw;
  height: 6vh;
  background: #F5F5F5;
  z-index: 100;

  .logo-nav {
    float: left;
    margin-top: -20px;
  }
}

#navDetail a {
  float: right;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}