.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 94vh;
  background-color: #091825;

  img {
    width: 5%;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 15vh;
  }

  p {
    width: 50%;
    color:white;
    font-size: xx-large;
    text-align: left;
    font-family: BemboBookMTStd-Regular, serif;
    line-height: 1.7em;
    letter-spacing: 1px;
  }

}

#navbar {
  width: 100vw;
  height: 6vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 5%,
          rgba(255, 255, 255, 0.4990371148459384) 55%,
          rgba(255, 255, 255, 1) 100%);
  z-index: 100;
}

.logo-header {
  width: 5%;
  height: auto;
  margin-top: 2vh;
  margin-left: 1.5vw;
}

#navbar a {
  float: right;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.test-header {
  min-width: 8%;
  height: auto;
  margin-left: 2vw;
  margin-top: 2vh;
}

#navbar a:hover {
  color: black;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

