.blocCat {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.blocCategory {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

.container{
  max-width: 98% !important;
}

a{
  text-decoration: none;
  color: black;
  font-family: TwCenMTStd-Light, sans-serif;
  font-size: smaller;
  letter-spacing: 0.5px;
}

.textFiltre{
  font-family: BemboBookMTStd-Regular, serif;
}
