:root {
  --sidebar-bg: #091825;
  --sidebar-menu-color: white;
  --sidebar-menu-header-color: white;
  --sidebar-menu-icon-color: white;
  --sidebar-menu-submenu-color: white;
  --sidebar-logo-color: white;
  --link-color: green;
}