:root {
  --sidebar-bg: #091825;
  --sidebar-menu-color: white;
  --sidebar-menu-header-color: white;
  --sidebar-menu-icon-color: white;
  --sidebar-menu-submenu-color: white;
  --sidebar-logo-color: white;
  --link-color: green;
  --button-primary-bg: #091825;
  --bs-black-rgb : 091825;
  //--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  //"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "BemboBookMTStd-Bold";
}