@font-face {
  font-family: "BemboBook";
  src: url("/assets/fonts/BemboBookMTStd-Regular.woff");
  src: url("/assets/fonts/BemboBookMTStd-Bold.woff");
  src: url("/assets/fonts/MonotypeBemboBookMTStd-BoldIt.woff");
  src: url("/assets/fonts/MonotypeBemboBookMTStd-Italic.woff");
}

@font-face {
  font-family: "TwCenLight";
  src: url("/assets/fonts/MonotypeTwCenMTStd-Light.woff");
}

html, body, main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #F2F2F2;
  cursor: url('./../images/CursorBureauMine.svg'), pointer;
}

a {
  cursor: url('./../images/CursorBureauMineLink.svg'), pointer;
}

