{% extends 'base.html.twig' %}

{% block title %}Info{% endblock %}

{% block main %}
    {% include('partials/_header.html.twig') %}
    <div class="titre">
        <h1>Infos</h1>
    </div>
    <div class="clientInfo">
        <div class="info">
            <div class="infoFR">
                Bureau Mine est un studio de design graphique et d’illustration fondé par Thomas
                Descheemaekere en 2017. Nous intervenons sur des projets de direction artistique, d’identité visuelle,
                d’illustration, de webdesign, de typographie sur mesure, d’édition, avec singularité, cohérence et
                précision.
            </div>
            <div class="infoENG">
                Bureau Mine is a graphic design studio founded by Sophie Rivière and Thomas Descheemaekere in
                2017. We operate in the fields of artistic direction, visual identity, illustration, webdesign,
                typography,
                edition. Feel free to contact us for further informations.
            </div>
        </div>
        <div class="client">
            <ul>
                <li class="titreClient">Clients :</li>
                {% for article in articles | slice (0,5) %}
                <li>{{ article.client }} </li>
                {% endfor %}
                <li>...</li>
            </ul>

        </div>
    </div>
    <div class="infoBlock">
        <div>

            <h2>Une info</h2>
            Une info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea com
        </div>
        <div>

            <h2>Une info</h2>
            Une info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        </div>
        <div>

            <h2>Une info</h2>
            Une info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea com
        </div>
        <div>

            <h2>Une info</h2>
            Une info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        </div>
    </div>

{% endblock %}
